/* -------------------------------------------------------------------------- */
/*                                  home page                                 */
/* -------------------------------------------------------------------------- */

.homepage {
  // ===== top =====
  .top {
    &_container {
      width: 100%;
      height: 100vh;
      height: var(--app-height);
      position: relative;
    }

    &_logo {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;

      h2 {
        svg {
          path {
            fill: var(--black-cl);
          }
        }
      }

      @include maxW(1023px) {
        h2 {
          svg {
            width: 300px;
            height: auto;
          }
        }
      }
    }

    &_scroll {
      position: absolute;
      bottom: 100px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 2;

      span {
        display: block;
        width: 1px;
        height: 100px;
        background-color: #e3e3e3;

        &:before {
          content: "";
          display: block;
          width: 100%;
          height: 100%;
          animation: scrolldown 2s infinite;
          background-color: var(--black-cl);
        }
      }

      @include maxW(1023px) {
        bottom: 60px;
      }
    }
  }

  // ===== top =====
  .statement {
    &_container {
      width: 100%;
      height: 100vh;
      height: var(--app-height);
      position: relative;

      @include maxW(1023px) {
        height: 100%;
      }
    }

    &_content {
      max-width: 628px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;

      p {
        font-family: $noto-fonts;
        font-size: 2.592rem;
        font-weight: 700;
        letter-spacing: 2.592px;
        line-height: 1.93;

        span {
          font-family: $main-fonts;
        }
      }

      @include maxW(1023px) {
        max-width: 100%;
        position: initial;
        transform: none;
        padding: 135px 42px 0;

        p {
          font-size: 2.1rem;
          letter-spacing: 1.05px;
          line-height: 1.93;
          font-feature-settings: "palt" 1;
        }
      }
    }
  }

  // ===== member =====
  .member {
    &_container {
      @include maxW(1023px) {
        padding: 140px 42px 0;
      }
    }

    &_wrapper {
      max-width: 628px;
      margin: 0 auto;
      position: relative;

      @include maxW(1023px) {
        max-width: 100%;
      }
    }

    &_heading {
      display: flex;
      align-items: center;
      gap: 10.5px;

      span {
        display: block;
        width: 10px;
        height: 1px;
        background-color: var(--black-cl);
      }

      h2 {
        font-size: 1.4rem;
        font-weight: 700;
        letter-spacing: 0.7px;
        text-transform: uppercase;
      }

      @include maxW(1023px) {
        gap: 8px;
        margin-bottom: 52px;

        span {
          width: 8.5px;
        }

        h2 {
          font-size: 1.042rem;
          letter-spacing: 0.521px;
        }
      }
    }

    &_group {
      margin-top: 58px;

      h3 {
        font-size: 1.156rem;
        font-weight: 700;
        letter-spacing: 0.578px;
        line-height: 1.61;
        opacity: 0.5;
      }

      @include maxW(1023px) {
        margin-top: 32px;

        h3 {
          font-size: 0.929rem;
          letter-spacing: 0.464px;
        }
      }
    }

    &_items {
      margin-top: 30px;

      display: flex;
      align-items: flex-end;
      gap: 25px;

      &:first-child {
        margin-top: 40px;
      }

      &:hover {
        opacity: 0.5;
      }

      @include maxW(1023px) {
        margin-top: 25px;
        gap: 14px;

        &:first-child {
          margin-top: 35px;
        }
      }
    }

    &_jpname {
      display: flex;
      gap: 12px;

      p {
        font-family: $noto-fonts;
        font-size: 3.662rem;
        font-weight: 700;
        letter-spacing: 4.394px;
      }

      @include maxW(1023px) {
        gap: 7px;

        p {
          font-size: 2.4rem;
          letter-spacing: 0.88px;
        }
      }
    }

    &_enname {
      display: flex;
      gap: 12px;

      p {
        font-size: 1.8rem;
        font-weight: 700;
        letter-spacing: 0.432px;
      }

      @include maxW(1203px) {
        gap: 7px;

        p {
          font-size: 1.238rem;
        }
      }
    }

    &_bar {
      margin: 160px auto 0;
      width: 1px;
      height: 95px;
      background-color: var(--black-cl);

      @include maxW(1023px) {
        margin-top: 100px;
      }
    }

    &_contact {
      margin-top: 100px;

      a {
        display: inline-block;
        padding: 0 30px;
        width: 100%;
        height: 74px;
        border: 2px solid var(--black-cl);
        text-align: center;
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 74px;
        transition: all 0.5s ease;

        &:hover {
          opacity: 1;
          background-color: var(--black-cl);
          color: var(--white-cl);
        }
      }

      @include maxW(1023px) {
        margin-top: 90px;

        a {
          height: 54px;
          line-height: 52px;
          font-size: 1.4rem;
        }
      }
    }
  }
}
